<br>
<div class="jumbotron">
  <h1>Blocipedia</h2>
  <h2>Social, Markdown Wikis</h2>

    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg' %>

</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5 accounts">
    <h2>Free Account</h2>
    <ul>
      <li>Unlimited Public Wikis!</li>
      <li>Anyone can view</li>
      <li>Anyone can edit</li>
    </ul>
  </div>
  <div class="col-md-5 accounts">
    <h2>Premium Account</h2>
    <ul>
      <li>Unlimited Private Wikis!</li>
      <li>Control who views</li>
      <li>Control who edits</li>
    </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>
