// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav {
  background-color: #659DBD;
}

div.jumbotron {
  text-align: center;
  background: #659DBD;
}

.accounts {
  text-align: center;
}

.accounts ul {
  list-style-type: none;
  padding: 0;
  font-size: 24px;
}
